.main {
  background-color: white;
  padding: 30px 30px;
  
  background-color: white;
  max-width: 1216px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.main img {
  width: 150px;
  height: 100px;
  margin-bottom: 20px;
}

.text h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #222;
}

.h4 {
  color: #555;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}

.space {
  margin-bottom: 10px;
}
