.outer-container {
  border: 3px solid white;
  border-radius: 12px;
  margin: auto;
  width: 80%;
  font-family: 'Segoe UI', sans-serif;
}

h1,
h4 {
  margin: 0;
  padding: 5px 0;
}

.button {
  text-align: center;
  background-color: white;
  border-radius: 8px;
}

.button-submit {
  margin: 20px;
  width: 20%;
  padding: 10px ;
  text-align: center;
  background-color:black;
  color: white;
  font-size: medium;
  border-radius: 8px;
}
.arrow-icon {
  fill: white;
}